@inject IStringLocalizer<NavMenu> _localizer
@rendermode InteractiveServer

<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 position-relative">
    <div class="container-xxl d-flex align-items-md-center">
        <div class="">
            <a class="navbar-brand ms-3 brand">@_localizer["brand"]</a>
        </div>
        <div class="container">
            <button type="button" class="btn btn-primary ms-3" @onclick="() => OpenLoginDialog()">@_localizer["signIn"]</button>
            <button type="button" class="btn btn-light ms-2" @onclick="() => OpenRegisterDialog()">@_localizer["signUp"]</button>
        </div>
        <div class="container">
            <MathRecognitionService.Components.Shared.CultureSelector />
        </div>
    </div>
</nav>

@if (LoginDialogOpen)
{
    ResetModalWindows();
    <ModalLoginWindow OnClose="@OnLoginDialogClose" OnRegisterCall="OpenRegisterDialog"/>
}
@if (RegisterDialogOpen)
{
    ResetModalWindows();
    <ModalRegisterWindow OnClose="@OnRegisterDialogClose" OnLoginCall="OpenLoginDialog"/>
}

@code {
    public bool LoginDialogOpen { get; set; }
    public bool RegisterDialogOpen { get; set; }

    private void ResetModalWindows()
    {
        LoginDialogOpen = false;
        RegisterDialogOpen = false;
    }

    private async Task OnLoginDialogClose(bool accepted)
    {
        LoginDialogOpen = false;
        StateHasChanged();
    }

    private async Task OnRegisterDialogClose(bool accepted)
    {
        RegisterDialogOpen = false;
        StateHasChanged();
    }

    private void OpenRegisterDialog()
    {
        RegisterDialogOpen = true;
        StateHasChanged();
    }

    private void OpenLoginDialog()
    {
        LoginDialogOpen = true;
        StateHasChanged();
    }
}

@* <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="/">Math Recognition Service</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/about">О сервисе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Контакты</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
 *@